<h1 class="font-bold text-4xl mb-2">Nueva Impresora</h1>

<%= render "form", printer: @printer %>

<%= link_to "Back to printers", printers_path, class: "focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-md ml-2 py-3 px-5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 inline-block" %>
