<% if notice.present? %>
  <p class="mb-5 inline-block rounded-lg bg-green-50 py-2 px-3 font-medium text-green-500" id="notice"><%= notice %></p>
<% end %>
<div class="grid md:grid-flow-row md:grid-cols-2">
  <h1 class="sm:text-left mx-auto md:mx-0 mb-4 md:mb-0 text-center md:text-left text-4xl font-bold">Drivers</h1>
  <%= link_to new_driver_path, class: "flex md:ml-auto items-center justify-center rounded-md bg-blue-600 py-3 px-5 text-center font-medium text-white md:w-64" do %>
    <svg class="mr-2 h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
    <p>Agregar un nuevo driver</p>
  <% end %>
</div>
<div class="grid md:grid-cols-2 md:gap-x-4 lg:grid-cols-3 lg:gap-x-8">
  <%= render @drivers %>
</div>
